.blog-creator-container {
  width: 100vw;
  background: rgb(22, 41, 54);
}

.final-submit-bttn {
  position: relative;
  width: 50%;
  height: 50%;
  top: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.final-submit-bttn button {
  width: 200px;
  height: 50px;
  font-size: 100%;
}

.joddit-creator-container {
  position: relative;
  margin: 0 auto;
  padding-top: 15vh;
  width: 85vw;
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jodit-preview {
  position: relative;
  color: white;
}

.login {
  position: absolute;
  width: 100%;
  top: 7vh;
}

.hidden {
  opacity: 0;
  display: hidden;
}
